HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
TRANSFER_TOKEN_SALT=

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=podcastmanager
DATABASE_USERNAME=podcastmanager_user
DATABASE_PASSWORD=changeme
DATABASE_SSL=false
JWT_SECRET=

# AWS S3
USE_TEST_BUCKET=true
AWS_ACCESS_KEY_ID=
AWS_ACCESS_SECRET=
AWS_REGION=eu-central-1
AWS_BUCKET=podcast-manager
AWS_BUCKET_TEST=podcast-manager

# Application
BASE_URL=https://podcasthub.org
BASE_DOMAIN=podcasthub.org

# Analytics
UMAMI_URL=https://umami.lucanerlich.com/api/send
UMAMI_WEBSITE_ID=89d4f469-6fc3-4758-8d48-8fa57c52435a
